/* #root { height: 100% }
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}  */

.swiper-container {
    width: 100%;
    height: 100%;
    /* border:1px solid black; */
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    height:100%;
    width:100%!important;
    overflow: visible!important;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.swiper-slide div.flip-card {
    width: 83%;
    height: 80%;
}

.swiper-pagination{
    position:absolute;
    z-index:10;
    bottom:0;
    left:0;
    right:0;
    text-align:center;
}
.flip-card {
    background-color: transparent;
    /* width: 300px;
    height: 200px; */
    /* border: 1px solid #f1f1f1; */
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
}
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.5s;
    transform-style: preserve-3d;
    box-shadow:  0px 0px 9px 0px rgba(0, 0, 0, 0.57);
    border-radius: 10px;

  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateX(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:3rem;

  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: white;
    color: black;
    border-radius: 10px;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: white;
    color: black;
    transform: rotateX(180deg);
    border-radius: 10px;

  }